#about-me {
    font-size: 1.1rem;

   /** smaller desktops and up */
	@media only screen and (min-width: 992px) {
        width: 70%;
        font-size: 1.2rem;

        hr {
            display: none;
        }
	}
}