header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 0.75rem;

	/** smaller desktops */
	@media only screen and (min-width: 992px) {
		align-items: start;
		text-align: left;
	}
}

#portrait {
	border-radius: 60px;
	height: 120px;
}

#info {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}
