/****** Element Selectors *****/

/** Reset margin and padding on default elements */
h1,
h2,
h3,
body {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 3rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1rem;
	font-weight: normal;
}

/****** Class Selectors *****/
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-inline: 2%;
	height: 100dvh;
	gap: 1rem;

	/** smaller desktops and up */
	@media only screen and (min-width: 992px) {
		margin-inline: 16.5%;
		flex-direction: row;
		gap: 0;
	}
}

/****** Media Queries *****/

/** smaller phones */
@media only screen and (min-width: 320px) {
}

/** small devices and most phones */
@media only screen and (min-width: 480px) {
}

/** most tablets */
@media only screen and (min-width: 768px) {
}

/** smaller desktops */
@media only screen and (min-width: 992px) {
	h1 {
		font-size: 5rem;
	}
	h2 {
		font-size: 2rem;
	}
	h3 {
		font-size: 1.2rem;
	}
}

/** large devices and wide screens */
@media only screen and (min-width: 1200px) {
}
