:root {
	background-color: #ffffff;
	font-family: "Times New Roman", Times, serif;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
