:root {
	font-family: "Fredoka", sans-serif;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--primary-color: #fbf8ea;
	--secondary-color: #2f2b24;
	--secondary-color-light: #c0b197;
	--error-color: #ae3f3f;

	background-color: var(--primary-color);
	color: var(--secondary-color);

	--sm-space: 0.25rem;
	--md-space: 1rem;
	--lg-space: 2rem;

	--sm-font: 1.1rem;
	--md-font: 1.25rem;

	--border-radius: 5px;
}

label {
	font-size: var(--sm-font);
	text-align: left;
}

input,
textarea {
	font-family: inherit;
	font-size: var(--sm-font);
	padding: var(--sm-space);
	border-radius: var(--border-radius);
	background-color: inherit;
	border: 1px solid var(--secondary-color-light);
	outline: none;
	resize: none;
	&:focus {
		border: 1px solid var(--secondary-color);
	}
}

input[type="submit"],
button {
	cursor: pointer;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border: none;
	outline: none;
	font-size: var(--md-font);
	&:hover {
		filter: brightness(1.5);
	}
}

form {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	gap: var(--md-space);

	div {
		display: flex;
		flex-direction: column;
		gap: var(--sm-space);
	}
}

* {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 3rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1rem;
	font-weight: normal;
}
p {
	font-size: var(--sm-font);
}
.gap-lg {
	gap: var(--lg-space);
}
.gap-md {
	gap: var(--md-space);
}
.gap-sm {
	gap: var(--sm-space);
}

.col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.error {
	color: var(--error-color);
	border-color: var(--error-color);
}

/****** Media Queries *****/

/** smaller phones */
@media only screen and (min-width: 320px) {
}

/** small devices and most phones */
@media only screen and (min-width: 480px) {
}

/** most tablets */
@media only screen and (min-width: 768px) {
}

/** smaller desktops */
@media only screen and (min-width: 992px) {
    #about-me {
        width: 75%;
    }
    hr {
        display: none;
    }
	h1 {
		font-size: 5rem;
	}
	h2 {
		font-size: 2rem;
	}
	h3 {
		font-size: 1.2rem;
	}
}

/** large devices and wide screens */
@media only screen and (min-width: 1200px) {
}

