#links {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

a {
	all: unset;
	cursor: pointer;
}

#linkedin {
	color: blue;
}

#linkedin:hover,
a:hover {
	transform: scale(1.05);
	transition: transform 150ms;
}

@media (pointer: coarse) {
	a,
	button,
	input,
	label {
		-webkit-tap-highlight-color: transparent;
		tap-highlight-color: transparent;
	}
}
